<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037808308533-r4bh364uk4j06fpskh8lf74fd94m796a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037808308533-r4bh364uk4j06fpskh8lf74fd94m796a</string>
	<key>API_KEY</key>
	<string>AIzaSyDojuPGbMhLVM984DBx_zBc_oHB08cmqJE</string>
	<key>GCM_SENDER_ID</key>
	<string>1037808308533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ingenious.People</string>
	<key>PROJECT_ID</key>
	<string>people-c8e9d</string>
	<key>STORAGE_BUCKET</key>
	<string>people-c8e9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037808308533:ios:92603310e074af9830bc7c</string>
</dict>
</plist>